body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
}

header {
  position: fixed;
  z-index: 10;
  background: black;
  top: 0px;
  height: 69px;
  padding: 10px;
  border-bottom: white 1px solid;
}

header, .headnav {
  width: 100%;
  display: flex;
  align-items: center;
  width: 98.5%;
  padding: 0px 10px;
}

.container {
  padding-top: 63px;
}

.headnav {
  display: flex;
  justify-content: flex-end;
}

.headnav a {
  color: seashell;
  padding-left: 20px;
}

header img {
  height: 59px;
}

div#specials {
  width: 100%;
  padding-top: 35px;
}

#banner, .bannertext, #specials, section.teapalooza{
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner {
  background: url('images/img-mission-background.jpg');
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin-left: 110px;
}

.bannertext, #specials {
  flex-direction: column;
  background-color: black;
  width: 100%;
}

h2.mission, #specials h2{
  height: 1px;
}

div.bannertext {
  height: 100px;
}

#specials, .teapalooza {
  width: 1000px;
}

.teapalooza h4, .teapaloozaa h4 {
  margin-top: 10px;
}

.teapalooza, .teapaloozaa {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.teapalooza img, .teapaloozaa img {
  width: 300px;
  height: 200px;
  padding: 0px 15px
}



.names {
  background: url('images/img-locations-background.jpg');
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 1;

}

.downtown, .bayside, .oakdale {
  width: 300px;
  height: 300px;
  background-color: black;
}

footer {
  text-align: center;
  height: 200px;
}

footer h5 {
  padding-top: 10px;
}

div.bayside {
  margin: 0px 40px;
}

.bayside {
  margin: 0px 40px;
}

div.names {
  width: 75%;
}

div#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 325px;
  padding-bottom: 30px;
}

#locations h3 {
  height: 15px;
}

.downtown h3, .downtown h4, .bayside h3, .bayside h4, .oakdale h3, .oakdale h4 {
  padding-top: 15px;
}
