body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
}

header, .headnav {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}

.container, {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.headnav {
  display: flex;
  justify-content: flex-end;
}

.headnav a {
  color: seashell;
  padding-left: 20px;
}

.header {
  height: 69px;
}

img {
  height: 59px;
}

div.specials {
  width: 100%;
  padding-top: 35px;
}

.banner, .bannertext, .specials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background: url('images/img-mission-background.jpg');
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin-left: 110px;
}

.bannertext, .specials {
  flex-direction: column;
  background-color: black;
  width: 100%;
}

h2.mission, .specials h2{
  height: 1px;
}

div.bannertext {
  height: 110px;
}

.specials, .teapalooza {
  width: 1000px;
}

h4.teapalooza {
  margin-top: : 100px;
}

.teapalooza {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
}

div.teapalooza{}

.teapalooza img {
  width: 300px;
  height: 200px;
  padding: 0px 15px
}

section .teapalooza {
  justify-content: center;
}

.locations {
  background: url('images/img-locations-background.jpg');
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.downtown, .bayside, .oakdale {
  width: 300px;
  height: 300px;
  background-color: black;
}
